.progress-wrap {
	position: fixed;
	    right: 10px;
    bottom: 100px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(0,0,0,0.1);
	z-index: 10000;
	opacity: 0.8;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	font-family: 'awb-icons';
	content: '\f106';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.3); /* --- Pijl kleur --- */
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
		opacity: 0.8;
}
.progress-wrap:hover::after {
	opacity: 1;
}
.progress-wrap::before {
	position: absolute;
	font-family: 'awb-icons';
	content: "\f106";
	text-align: center;
	line-height: 46px;
	font-size: 24px;
		opacity: 0.8;
	background: black; /* --- Pijl hover kleur --- */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	  stroke: #9d0102;
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap svg.progress-circle path {
    stroke: #9d0102;
 }
 .progress-wrap svg{
 background: #fff;
    border-radius: 100%;
    box-shadow: 0px 1px 15px rgb(0 0 0 / 20%);
 }
 